<div class="container info-titulo">
  <h3><b>Conoceme un poco</b></h3>
</div>
<div class="container informacion">
  <div class="row">
    <div class="col-9">
      <p>
        ¡HOLA!, soy Edison Osorio, técnico en Sistemas, apasionado por la programación, actualmente estoy estudiando
        Análisis y Desarrollo de sistemas de información en el SENA, me gusta el trabajo en equipo, me interesa ayudar
        con proyectos que me generen retos, los cules me ayuden a afinazar mi conocimiento y seguir creciendo como
        desarrollador.
      </p>
      <p>
        Tengo conocimientos en HTML, CSS, JavaScript(intermedio), en el momento me encuentro aprendiendo TypeScrpt y
        Angular.
      </p>
    </div>
    <!-- contactos -->
    <div class="container contacto">
      <nav class="row">
        <ul class="col-8 list-unstyled ">
          <h3>Contactame, estare feliz de trabajar con usted </h3>
          <li class="d-flex"><a href="https://www.facebook.com/edison.osorioperez/" class="text-reset nav-link"
              target="_blank"><i class="fab fa-facebook"> Facebook </i></a>
            <a href="" class="nav-link text-reset " target="_blank"><i class="fab fa-github"> GitHub</i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>