<div class="inicio">
  <div class="container cont-description">
    <div class="row">
      <div class="col-6 info">
        <h1>Edison Osorio Pérez</h1>
        <P>
          ¡HOLA! soy Edison desarrollador font-end apasionado a la programación
          y con muchas ganas de aplicar todo mis comocimeintos en un proyecto.
        </P>

        <h3>Desarrollador Front-end</h3>
      </div>
      <img
        class="img-header"
        src="./assets/foto-edison.jpg  "
        alt="Photo Edison"
      />
    </div>
  </div>
  <div class="frase">
    <p>El arte desafía a la tecnologia y la tecnologia inspira al arte</p>
    <p class="autor">JOHN LASSETER</p>
  </div>
</div>
